body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 20px;
    background-color: #006400; 
    color: #00008B;
    padding: 3px;
}

#main {
    padding: 10px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 4px solid #cc9900;
    color: #00008B;
    font-size: 30px;
}